<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDclvgbYF_1azqI7_49hizLLPna_YsLJDY</string>
	<key>GCM_SENDER_ID</key>
	<string>414897252488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideNDie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ride-n-die</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-n-die.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414897252488:ios:4e505598632c7276a4d73d</string>
</dict>
</plist>